<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Syncify - Home</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script>
    if(window.location.protocol != "https:") window.location.protocol = "https:"
    </script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Syncify - A practical joke for technological times</h1>
    </header>

    <main>
      <h2>Oh hi,</h2>

      <p>Want to play a practical joke on a friend, coworker, or other unsuspecting person? </p>
    </main>
    <h3>
      How it works:
    </h3>
    <p>
      A host will click a button, and all connected computers will begin playing a song picked by the host.
      All you will need to do is sit on a webpage and wait with your volume up to 100%. The rest will happen behind the scenes, leaving you to watch the madness :).
    </p>
      <a href="/client">Click here to get started!!!</a>

    <footer>An amazing project</footer>

  </body>
</html>
